extends layout

block content
  #banner.page-header
    .row
       .col-lg-6
         h1 COFFEE NEAR ME
           small &nbsp; good days start with coffee and you
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
          a(href="location") Verita Coffee Bar & Roastery
          small &nbsp;
            span.glyphicon.glyphicon-heart
            span.glyphicon.glyphicon-heart 
            span.glyphicon.glyphicon-heart 
            span.glyphicon.glyphicon-heart 
            span.glyphicon.glyphicon-heart-empty
           span.badge.pull-right.badge-default 100m
          p.address 9414 W Central Ave, Wichita, KS 67212
          p
            span.label.label-warning Prepared foods
            | &nbsp
            span.label.label-warning Coffee
            &nbsp
            spam.label.label-warning College students
    .col-xs-12.col-sm-4
      p.lead COFFEE NEAR ME helps you find the best places for a Coffee in Wichita!
    
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
          a(href="location") Ecclesia Coffee & Community 
          small &nbsp;
            span.glyphicon.glyphicon-heart
            span.glyphicon.glyphicon-heart 
            span.glyphicon.glyphicon-heart 
            span.glyphicon.glyphicon-heart 
            span.glyphicon.glyphicon-heart-empty
           span.badge.pull-right.badge-default 100m
          p.address 7130 W Maple St #280, Wichita, KS 67209
          p
            span.label.label-warning Quick bite
            | &nbsp
            span.label.label-warning College students
            &nbsp
            spam.label.label-warning Great dessert

    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
          a(href="location") Scooter's Coffee
          small &nbsp;
            span.glyphicon.glyphicon-heart
            span.glyphicon.glyphicon-heart 
            span.glyphicon.glyphicon-heart 
            span.glyphicon.glyphicon-heart 
            span.glyphicon.glyphicon-heart-empty
           span.badge.pull-right.badge-default 100m
          p.address 7399 W Central Ave, Wichita, KS 67212
          p
            span.label.label-warning Prepared foods
            | &nbsp
            span.label.label-warning Coffee
            &nbsp
            spam.label.label-warning College students
            
            






 

  
